---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Contact Us">
  <div class="container">
    <h1>Contact Us</h1>
    <p>You can reach us at <a href="mailto:support@insighthunter.io">support@insighthunter.io</a></p>
  </div>
</Layout>
