---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Support">
  <div class="container">
    <h1>Support Center</h1>
    <p>Welcome to the Insight Hunter support center. Here you can find answers to your questions and get in touch with our team.</p>
    <ul>
      <li><a href="/support/faqs">Frequently Asked Questions</a></li>
      <li><a href="/support/contact">Contact Us</a></li>
    </ul>
  </div>
</Layout>
