name = "insighthunter-auth"
main = "src/index.ts"
compatibility_date = "2024-07-29"
compatibility_flags = ["nodejs_compat"]

[[routes]]
pattern = "*auth.insighthunter.app/api/*"
zone_name = "insighthunter.app"

[[d1_databases]]
binding = "USERS"
database_name = "insight-users"
database_id = "97eb1afb-543e-44d4-b465-a3859742aeba"

[[kv_namespaces]]
binding = "SESSIONS"
id = "60e34ba310ca40c79edec05470c7a271"
preview_id = "60e34ba310ca40c79edec05470c7a271"

[[kv_namespaces]]
binding = "RATE_LIMIT_KV"
id = "2819dd6ccecf4da78717f1a2d9c60da8"

[[vars]]
JWT_SECRET = "5afde2d9ba897193d88ba038ed3edd03870ccae6338077cec5c50e333c9de777"
SALT_ROUNDS = "12"
SESSION_TTL_DAYS = "7"

[observability]
enabled = true
head_sampling_rate = 1