---
import Layout from '../../layouts/Layout.astro';
import LoginForm from '../../components/islands/auth/LoginForm.svelte';
---
<Layout title="Login">
  <section class="auth-page container">
    <LoginForm client:load />
  </section>
</Layout>
