---
import Layout from '../../layouts/Layout.astro';
import SignupForm from '../../components/islands/auth/SignupForm.svelte';
---
<Layout title="Sign Up">
  <section class="auth-page container">
    <SignupForm client:load />
  </section>
</Layout>
