account_id = "18c8e61a3669253dcfd0c7eec6be36a3"
name = "insighthunter-main"
main = "functions/api/[[path]].js"
compatibility_date = "2024-03-18"

routes = [
    { pattern = "api.insighthunter.app/*", zone_name = "insighthunter.app" }
]

[[d1_databases]]
binding = "DB"
database_name = "insighthunter-db"
database_id = "aa2b9aa2-f1dd-4fdc-b4b0-d9b4bdc2ea57"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "insighthunter-bucket"

[[services]]
binding = "AUTH_SERVICE"
service = "insighthunter-auth"

[[services]]
binding = "BOOKKEEPING_SERVICE"
service = "insighthunter-bookkeeping"
