account_id = "18c8e61a3669253dcfd0c7eec6be36a3"
name = "insighthunter-main"
main = "functions/api/[[path]].js"
compatibility_date = "2026-02-26"
compatibility_flags = ["nodejs_compat"]

[[routes]]
pattern": "api.insighthunter.app/*"
"zone_name": "insighthunter.app"

[[d1_databa
ses]]
binding = "USERS"
database_name = "insight-users"
database_id = "97eb1afb-543e-44d4-b465-a3859742aeba"

[[kv_namespaces]]
binding = "SESSIONS"
id = "60e34ba310ca40c79edec05470c7a271"

[vars]
JWT_SECRET="5afde2d9ba897193d88ba038ed3edd03870ccae6338077cec5c50e333c9de777"
AUTH_API_URL = "https://auth.insighthunter.app"
STRIPE_WEBHOOK_SECRET = "whsec_your-stripe-secret"

[assets]
directory = "./public"
binding = "ASSETS"

[observability]
enabled = true
head_sampling_rate = 1

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "insighthunter-bucket"

[[services]]
binding = "AUTH_SERVICE"
service = "insighthunter-auth"

[[services]]
binding = "BOOKKEEPING_SERVICE"
service = "insighthunter-bookkeeping"
