name = "insighthunter-bookkeeping"
compatibility_date = "2024-06-20"

[build]
command = "npm run build"

[[migrations]]
tag = "v1"
new_classes = ["SubscriptionManager"]

[[durable_object.bindings]]
name = "SUBSCRIPTION_MANAGER"
class_name = "SubscriptionManager"

[[r2_buckets]]
binding = "UPLOADS"
bucket_name = "insighthunter-uploads"