account_id = "18c8e61a3669253dcfd0c7eec6be36a3"
name = "insighthunter-bookkeeping"
main = "src/backend/index.ts"
compatibility_date = "2024-06-20"

[build]
command = "npm run build"

[[migrations]]
tag = "v1"
new_classes = ["SubscriptionManager"]

[[durable_object.bindings]]
name = "SUBSCRIPTION_MANAGER"
class_name = "SubscriptionManager"

[[r2_buckets]]
binding = "UPLOADS"
bucket_name = "insighthunter-uploads"