---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
---
<DashboardLayout title="Accounts Payable">
  <h2>Vendor Payments</h2>
  <p>Track bills and payment schedules</p>
</DashboardLayout>
