---
import Layout from '../layouts/Layout.astro';
// TODO: migrate content from public/docs.html
---
<Layout title="Docs">
<body>
  <h1>📚 Documentation</h1>
  <p><a href="/features.html">View All Apps</a> | <a href="/dashboard.html">Dashboard</a></p>
</body>
</Layout>
