name: Mobile App CI

on:
  push:
    branches: [ main ]
    paths:
      - 'apps/insighthunter-mobile/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: expo/expo-github-action@v8
        with:
          expo-version: latest
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Trigger EAS Build
        working-directory: apps/insighthunter-mobile
        run: eas build --platform all --non-interactive
